body, html {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: black;
    box-shadow: 0px 2px rgb(0 0 0 / 0.2);
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.right-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo img {
    height: 40px;
    vertical-align: middle;
}

.settings {
    position: relative;
    display: inline-block;
}

.settings-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.settings-button-group {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
}

.settings-text {
    padding-left: 15px;
    margin-right: 20px;
    font-size: 16px;
}

.settings-menu {
    width: 240px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    z-index: 1;
}

.settings-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.settings:hover .settings-menu {
    display: block;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
}

.flags{
    display: flex;
    align-items: center;
}

.flags button {
    transition: transform 0.3s ease;
    background-size: cover;
}

.flags button:hover {
    transform: scale(1.08);
}